body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
}

nav {
    background-color: rgb(141, 218, 141);
    height: 100%;
    grid-row: 1 / span 3;
}

header, footer {
    height: 20vh;
    grid-column: 2 / span 2;
    background-color: green;
}

aside {
    background-color: brown;
}

#article {
    height: 100%;
    width: 100%;
}

.container2 {
    display: grid;
    grid-template-columns: 4fr 1fr;
    min-height: 60vh;
}
